@import url(https://fonts.googleapis.com/css?family=VT323);
html {
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 120%;
    background-color: black !important;
}

#Matrix {
    position: absolute;
    top: 0px;
    left: 0px;
}

.neon {
    color: #0f0;
    letter-spacing: 2px;
    text-shadow:
        0 0 40px #9acd32,
        0 0 80px #006653;
}

.animate-character {
    background-image: linear-gradient(90deg,
            #0011ff 0%,
            #ff8d00 55%,
            #fff400 89%,
            #22ff00 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 45s both ease-in-out infinite alternate;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.hidden {
    opacity: 0;
}

.console-container {
    font-family: VT323;
    font-size: 3em;
    text-align: center;
    display: block;
    position: absolute;
    color: #3f3;
    margin: auto;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}