html {
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height:120%;
    background-color: black !important;
}

#title {
    position: relative;
    color: #45FF17;/*#4db1bc;*/
    text-align: center;
    font-family: "Rubik Dirt", sans-serif;
    font-weight: 300;
    font-size: 48px;
    letter-spacing: 8px;
    margin-top: 40px;
}
#title span {
    background: -webkit-linear-gradient(#45FF17, #DFFC21);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Matrix {
    position:absolute;
    top:0px;
    left:0px;
}